option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    SECRET_KEY: "secret_key"
    DB_URI: "postgresql://avnadmin:AVNS_PWrbvZPiqMp8rihRXrX@wordle-app-sriharsha07.a.aivencloud.com:13443/defaultdb?sslmode=require"
